################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SchoolSystem/SchoolSystem.Infrastructure/obj
/SchoolSystem/SchoolSystem.Presentation/obj
