################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SchoolSystem/SchoolSystem.Infrastructure/obj
/SchoolSystem/SchoolSystem.Presentation/obj
/SchoolSystem/.vs/SchoolSystem/config
/SchoolSystem/.vs/SchoolSystem/FileContentIndex
/SchoolSystem/SchoolSystem/obj/Debug/net7.0
/SchoolSystem/SchoolSystem.Application/obj/Debug/net7.0
/SchoolSystem/SchoolSystem.Presentation/bin/Debug/net7.0
/SchoolSystem/Tests.Test
/SchoolSystem/YourNamespace.Test
/SchoolSystem/Tests/obj/Debug/net7.0
/SchoolSystem/Tests/obj
/SchoolSystem/Tests
/SchoolSystem/Test/obj
/SchoolSystem/Test
*.txt
/SchoolSystem/SchoolSystem.Application/bin/Debug/net7.0/SchoolSystem.Application.deps.json
/SchoolSystem/SchoolSystem.Application/bin/Debug/net7.0/SchoolSystem.Application.dll
/SchoolSystem/SchoolSystem.Application/bin/Debug/net7.0/SchoolSystem.Application.pdb
/SchoolSystem/SchoolSystem.Application/obj/Debug/net7.0/ref/SchoolSystem.Application.dll
/SchoolSystem/SchoolSystem.Application/obj/Debug/net7.0/refint/SchoolSystem.Application.dll
/SchoolSystem/UnitTests/bin/Debug/net7.0/cs
